{% extends "base.html" %}
{% block titulo %} Agregar autor {% endblock %}
{% block contenido_principal %}
<h2>Agregar Autor</h2>
<form class="form-horizontal" method="post" action="/autor">
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre:</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="nombre"
                                      placeholder="Nombre del autor" required="true"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="grupo">Nombre:</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="grupo"
                                      placeholder="Grupo del autor" required="true"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="rol">Rol:</label>
        <div class="col-sm-10"><select class="form-control" name="rol" required="true">
            <option value="cantante">Cantante</option>
            <option value="batería">Batería</option>
            <option value="Guitarrista">Guitarrista</option>
            <option value="Bajista">Bajista</option>
            <option value="Teclista">Teclista</option>
        </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</form>
{% endblock %}